body {
    height: 100vh;
    background-color: #EFEFE8FF;
    font-family: 'Oxygen';
}

.tab {
    border: hidden!important;
}

.tab--selected {
    color: #0A5E2AFF!important;
    border-top: solid 2px #FE0000FF!important;
}

.rc-slider-track {
  background-color: green;
}

.rc-slider-dot-active {
  border: solid 2px green;
}

.rc-slider-handle {
  border-color: green;
}

/*.rc.slider-handle:hover {
  border-color: purple;
}

.rc.slider-handle-active:active {
  border-color: yellow;
}*/

#stemsearch-logo {
    font-family: 'Amita';
    font-weight: 900;

}

#research-made-easy {
    font-size: 2rem;
}

#logo-subtitle {
    color: #0A5E2AFF;
    /*visibility: hidden;
    height: 0px;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;*/
}

#page-header-row {
    padding-top: 10px;
    background-color: white;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: #6DAC4FFF 3px solid;
}

#page-header-col {
    background-color: white; /*#6DAC4FFF;*/
    text-align: center;
    color: #fd5e53;
    margin-top: 10px;
    margin-bottom: 0px;
}

#main-content-div {
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
    max-width: 100%;
    margin-bottom: 30px;
    /*border: 2px pink solid;*/
}

.data-entry-div {
    margin: 1.5em 1.5em 1.5em 1.5em;
}

#data-display-card {
    align-content: right;
    height: 80vh;
    overflow-x: hidden;
    border: hidden;
    border-radius: 0px;
}

.data-display-header {
    font-size: 1.1rem;
    font-weight: bold;
    padding-top: 1.2em;
    padding-bottom: 1.2em;
    border-radius: 0px!important;
    border-top: solid 2px #FE0000FF;
    border-bottom: hidden;
    margin-left: 0px;
    margin-right: 0px;
    color: #0A5E2AFF;
    background-color: white;
    /*background-color: #6DAC4FFF;*/
}

.data-display-body {
    padding-top: 0px;
    /*height: 90%;*/
}

.data-tab {
    align-content: center;
    justify-content: center;
}

table {
    max-height: 100%;
    overflow-x: auto;
}

.data-col {
    background-color: white;
    padding-left: 0px;
    padding-right: 0px;
}

.data-col th {
    background-color: #EFEFE8FF;
    color: #0A5E2AFF;
}

#data-entry-col {
    padding: 0px;
}

.top-word-badge {
    margin-right: 5px;
    margin-bottom: 5px;
}

.covid-report-row {
    background-color: white;
    /*border-top: solid 2px #FE0000FF;*/
    padding-top: 1.6rem;
    height: 80vh;
}

.covid-report-plot {
    /*height: 85%;*/
    /*border: 5px solid red!important;*/
    height: 100%;
}

#select-map-unit-div {
    background-color: white;
    margin-bottom: 0px;
    padding-top: 20px;
}


#covid-report-settings {
    margin-top: 20%;
}

/*#nlp-dashboard-bar-graph {
    border: 2px red solid;
    height: 100%;
}*/

#nlp-dashboard-div {
    height: 100%;
}

#top-n-words-slider {
    margin-top: 1.2rem;
}

