#main-content-div {
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 60px;
    font-size: 0.85rem;
}

#data-entry-div {
    margin: 1.5em 1.5em 1.5em 1.5em;
}

#data-display-div {
    align-content: right;
    /*height: 80vh;
    overflow-x: auto;*/
}

.data-tab {
    align-content: center;
    justify-content: center;
}

table {
    max-height: 80vh;
    overflow-x: auto;
}


/*#data-display-col {
    display: inline-block !important;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}*/
